.button_action_edit {
  background: url(../../../images/edit-icon.svg) no-repeat center/50%;
  padding: 7px;
  width: 8px;
  height: 8px;
  border: 1px solid #FFF;
  align-self: center;
}

@media (max-width: 585px) {
  .button_action_edit {
    padding: 4px;
  }
}
