.button__add {
  background: url(../../../images/add-icon.svg) no-repeat center;
  width: 22px;
  height: 22px;
  border: 2px solid #FFF;
  padding: 12px 62px;
}

@media (max-width: 768px) {
  .button__add {
    width: 16px;
    height: 16px;
    padding: 17px 130px 17px 131px;
  }
}
