.content {
  margin: 40px 0 66px 0;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

@media (max-width: 425px) {
  .content {
    margin-top: 39px;
    margin-bottom: 48px;
    row-gap: 36px;
  }
}
